<div>

  <h1><%= @blogger.name%>'s Profile Page</h1>
  <h2>Age: <%= @blogger.age %></h2>
  <h4>Bio: <%= @blogger.bio %></h4>
  <p>Featured Post: <%= link_to @feature_post.title, post_path(@feature_post)%> </p>

  <span><%= button_to "Edit Blogger", edit_blogger_path(@blogger.id), :method => :get %></span>
  <hr>

    

  <h2>My Blogs</h2>

  <h3>Total Likes 💓<%= @total_likes%> </h3>

  
    <% @blogger.posts.each do |post| %>
      <div>
        <h3> <%= link_to post.title, post_path(post.id)%></h3>
        <h3>Like Count: <%= post.likes %></h3>
        <h3>Destination: <%= post.destination.name %></h3>
        
      </div>
      <hr>
    <% end %>

  
  <span><%= button_to "Back To The Welcome Page", bloggers_path, :method => :get %></span>
  <span><%= button_to "Sorry to See You Go", blogger_path(@blogger.id), :method => :delete %></span>
  


</div>